body {
	margin: 0px;
	background: #222;
}

.header {
	text-align: center;
	background: #222;
	color: #fff;	
	text-transform: uppercase;
	font-family: 'Oswald', Impact;
	font-size: 46px;
}

.container {
width: 900px;
margin: 0 auto;
}

h1 a {
color: #fff;
}

.tabletop {
	vertical-align: top;
}

.swirl {
	width:auto;
	height:86px;
	padding-left:3px;
}

.content1 {
	padding: 20px 0 40px;
	background: #fff;
}

.content2 {
	padding: 20px 0 40px;
	border-top: 1px solid #dcdcdc;
	background: #e6e6e6;
}

.content3 {
	padding: 20px 0 40px;
	border-top: 1px solid #c3c3c3;
	background: #ccc;
}

.mb_title {
	margin-bottom:10px
}

.prezi {
	width:  900px;
	height: 450px;
}

.title {
	font-size: 36px;
	text-transform: uppercase;
	text-align: center;
	color: #222;
	text-decoration: none;
	font-family: 'Oswald',Impact;
	font-weight: 700;
}

.thumbnail {
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #222;
}

a.thumbnail {
	text-decoration: none;
}

a.thumbnail:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	color: #f95107;
}

.thumbnail_img {
	width: 240px;
}

img.thumbnail_img {
margin: 0;
margin-top: 10px;
}


h1.thumbnail_txt {
	font-size: 26px;
	text-transform: uppercase;
	text-align: left;
	text-decoration: none;
	font-family: 'Oswald',Impact;
	font-weight: 700;
}

h1.thumbnail_txt:hover {
	color: #f95107;
}

footer {
color: #999;
font-size: .8em;
background: #000;
}

footer ul, footer .copyright {
float: left;
width: 50%;
}

footer li {
display:inline
}

footer li+li {
margin-left: 10px;
border-left: 1px dotted #666;
padding-left: 10px;
}

footer .copyright {
text-align: right;
line-height: 1.5em;
font-family: 'Oswald',Impact;
font-weight: 600;
}

footer a {
color: #999;
}

footer a:hover {
color: #fff;
}

nav.primary a:hover {
color: #fff;
}

nav.primary {
background: #333;
margin: 30px;
}

nav.primary h1 {
margin-bottom: 5px;
line-height: 30px;
font-size: 30px;
text-transform: uppercase;
letter-spacing: .025em;
color: #fff;
}

nav.primary a {
line-height: 1.8em;
font-size: 1.1em;
font-weight: 300;
color: #ccc;
}

ul {
line-height: 1.5;
list-style: none;
padding: 0;
}

.ulmargin {
margin: -2px;
}

td {
padding-right:10px;
}

a {
text-decoration: none;
color: #222;
font-family: 'Oswald',Impact;
font-weight:600;
}

a:hover {
	color: #f95107;
}

nav.primary section.social {
float: right;
}

@media all and (max-width:900px) {
.container {
width: 600px;
}
.prezi {
width:  600px;
height: 300px;
}
h1 {
font-size: 1.25em;
}
.swirl {
height: 52px;
padding-left:2px;
}
}

@media all and (max-width:620px) {
.container {
width: 500px;
}
.prezi {
width:  500px;
height: 250px;
}
h1 {
font-size: 1em;
}
.swirl {
height: 42px;
}
}

@media all and (max-width:520px) {
.container {
width: 400px;
}
.prezi {
width:  400px;
height: 200px;
}
h1 {
font-size: 0.5em;
}
.swirl {
height: 22px;
}
.title {
font-size: 26px;
}
}

@media all and (max-width:420px) {
.container {
width: 300px;
}
.prezi {
width:  300px;
height: 150px;
}
.title {
font-size: 20px;
}
}

.autoheight {
height: auto;
}

.contact {
margin: 10px;
}
